<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Inicia sesion</ion-title>
    <ion-buttons slot="end">
      <ion-button  [routerLink] = "['/prelogin']">
        <ion-icon slot="start" name="exit-outline" color="primary"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>



<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <img src='assets/Logo_DuocUC.png' alt="Duoc"/>
    </ion-card-header>

    <ion-card-content>
        <form [formGroup]="formularioLogin">

          <ion-item>
            <ion-label position="floating">Usuario </ion-label>
            <ion-input type="email" formControlName="correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Clave </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </form>
        <br>
        <ion-button (click)="Ingresar()" expand="block" fill="outline" shape="round">
          Ingresar
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary"> 
    <ion-buttons slot="end"> 
      <ion-button  [routerLink] = "['/registro']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>