<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-button  [routerLink] = "['/curso-docente']">
        <ion-icon slot="start" name="exit-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Se ha Generado el codigo QR</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <icon-card>
        <img src="../assets/qr.jpg" class="ion-padding">
      </icon-card>
      <ion-card-title>Ya puede Proyectar el codigo</ion-card-title>
    </ion-card-content>

    
   </ion-card>


</ion-content>